
/* AMHARIC (Ethiopia) () */
font-family: 'Noto Sans Ethiopic', Arial, Verdana, Geneva, Helvetica, sans-serif;
font-family: Kefa, Nyala, Roboto, Noto, 'Noto Sans Ethiopic', serif;

/* ARABIC (ar) / URDUR (ur)  */
font-family: 'Geeza Pro', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
font-family: 'Geeza Pro', 'Arabic Typesetting', Roboto, Noto, 'Noto Naskh Arabic', 'Times New Roman', serif;

/* BENGALI/BANGLA (bn) */
font-family: 'Shonar Bangla', Helmet, Freesans, Helvetica, Arial, sans-serif;
font-family: 'Kohinoor Bangla', 'Bangla Sangam MN', Vrinda, Roboto, Noto, 'Noto Sans Bengali', sans-serif;

/* BURMESE () */
font-family: Padauk, Arial, Verdana, Geneva, Helvetica, sans-serif;

/* GEORGIAN (ge) */
font-family: 'Lucida Grande', 'Segoe UI', Roboto, Noto, 'Helvetica Neue', Arial, sans-serif;

/* HINDI (hi) */
font-family: 'Kohinoor Devanagari', 'Devanagari Sangam MN', Kokila, 'Nirmala UI', Roboto, Noto, 'Noto Sans Devanagari', sans-serif;

/* JAPANESE (ja) */
font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'ＭＳ ゴシック' , 'MS Gothic', 'Noto Sans CJK JP', TakaoPGothic, sans-serif;

/* NEPALI (ne) */
font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;

/* PUNJABI () */
font-family: 'Noto Sans Gurmukhi', Gautami, 'Kohinoor Gurmukhi', sans-serif;

/* RUSSIAN (ru) */
font-family: Charcoal, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-family: heuristicaregular, Georgia, Cambria, 'Times New Roman', serif;
